# This file is managed by Ansible
# Manual changes may be overwritten

# Minecraft server properties

generator-settings={{ minecraft_server_generator_settings }}
op-permission-level={{ minecraft_server_op_permission_level }}
allow-nether={{ minecraft_server_allow_nether }}
enforce-whitelist={{ minecraft_server_enforce-minecraft_server_enforce_whitelist }}
level-name={{ minecraft_server_level_name }}
enable-query={{ minecraft_server_enable_query }}
allow-flight={{ minecraft_server_allow_flight }}
prevent-proxy-connections={{ minecraft_server_prevent_proxy_connections }}
server-port={{ minecraft_server_server_port }}
max-world-size={{ minecraft_server_max_world_size }}
level-type={{ minecraft_server_level_type }}
enable-rcon={{ minecraft_server_enable_rcon }}
level-seed={{ minecraft_server_level_seed}}
force-gamemode={{ minecraft_server_force_gamemode }}
server-ip={{ minecraft_server_server_ip }}
network-compression-threshold={{ minecraft_server_network_compression_threshold }}
max-build-height={{ minecraft_server_max_build_height }}
spawn-npcs={{ minecraft_server_spawn_npcs }}
white-list={{ minecraft_server_white_list }}
spawn-animals={{} minecraft_server_spawn_animals }}
hardcore={{ minecraft_server_hardcore }}
snooper-enabled={{ minecraft_server_snooper_enabled }}
resource-pack-sha1={{ minecraft_server_resource_pack_sha1 }}
online-mode={{ minecraft_server_online_mode }}
resource-pack={{ minecraft_server_resource_pack }}
pvp={{ minecraft_server_pvp }}
difficulty={{ minecraft_server_difficulty }}
enable-command-block={{ minecraft_server_enable_command_block }}
gamemode={{ minecraft_server_gamemode }}
player-idle-timeout={{ minecraft_server_player_idle_timeout }}
max-players={{ minecraft_server_max_players }}
max-tick-time={{ minecraft_server_max_tick_time }}
spawn-monsters={{ minecraft_server_spawn_monsters }}
view-distance={{ minecraft_server_view_distance }}
generate-structures={{ minecraft_server_generate_structures }}
motd={{ minecraft_server_motd }}
